h1 {
		border:solid 3.5px;
		border-color:pink;
		background-color:grey;
		color:green; 
		text-align:center;}
body {
		
		font-family:arial;
		background-color:#A288F4;}
p {
		
		color:purple;}
		
ul {background-color: red;
	border: solid 5px;
	border-color:blue;
	border-top-style: dotted;
	border-bottom-style: dashed;
	padding-top: 5px}
